In [427]:
import pandas as pd
import numpy as np

path1 = "../ML-Movies-Recommeder-System/datasets/tmdb_5000_credits.csv"
path2 = "../ML-Movies-Recommeder-System/datasets/tmdb_5000_movies.csv"

df_credits = pd.read_csv(path1)
df_movies = pd.read_csv(path2)

In [428]:
df_credits.shape, df_movies.shape

((4803, 4), (4803, 20))

In [429]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [430]:
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

#### Merge column

In [431]:
df_movies_credits = pd.merge(df_movies, df_credits, left_on='id', right_on='movie_id', how='inner')
df_movies_credits.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Reduce columns which not important

In [432]:
df_movies_credits.drop(['budget','homepage','original_language','popularity','production_companies','production_countries','release_date','revenue','runtime','spoken_languages','status','title_x','vote_average','vote_count','title_y','id','tagline'], axis=1, inplace=True)

In [433]:
df_movies_credits.head()

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bondâ€™s past sends him o...,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [434]:
df_movies_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   keywords        4803 non-null   object
 2   original_title  4803 non-null   object
 3   overview        4800 non-null   object
 4   movie_id        4803 non-null   int64
 5   cast            4803 non-null   object
 6   crew            4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 262.8+ KB

#### Check N/A values

In [435]:
df_movies_credits.isnull().sum()

genres            0
keywords          0
original_title    0
overview          3
movie_id          0
cast              0
crew              0
dtype: int64

In [436]:
df_movies_credits.dropna(inplace=True)

In [437]:
df_movies_credits.isnull().sum()

genres            0
keywords          0
original_title    0
overview          0
movie_id          0
cast              0
crew              0
dtype: int64

#### Check duplicated values

In [438]:
df_movies_credits.duplicated().sum()

0

### Convert values from each column

In [439]:
df_movies_credits.head(2)

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [440]:
df_movies_credits['genres'].iloc[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [441]:
import ast

temp =ast.literal_eval(df_movies_credits['genres'].iloc[0])
temp

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

#### Get name of genres, keywords

In [442]:
holder = []
for data in temp:
    holder.append(data['name'])
holder

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [443]:
def convert_data(data):
    list_convert = []
    for value in ast.literal_eval(data):
        list_convert.append(value['name'])
    return list_convert

df_movies_credits['genres'].apply(convert_data)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4800, dtype: object

In [444]:
df_movies_credits['genres']=df_movies_credits['genres'].apply(convert_data)
df_movies_credits['keywords']=df_movies_credits['keywords'].apply(convert_data)
df_movies_credits.head(3)

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bondâ€™s past sends him o...,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

#### Get 4 names of actors from cast

In [445]:
# df_movies_credits.iloc[0]['cast']

In [446]:
# temp2 = ast.literal_eval(df_movies_credits['cast'].iloc[0])
# temp2

In [447]:
# We will get the first 4 actors
def convert_cast(data):
    list_cast = []
    for key, item in enumerate(ast.literal_eval(data)):
        if key < 4:
            list_cast.append(item['name'])
    return list_cast

convert_cast(df_movies_credits.iloc[0]['cast'])

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang']

In [448]:
df_movies_credits['cast'].apply(convert_cast)

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4798    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4799    [Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...
4800    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4801    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4802    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4800, dtype: object

In [449]:
df_movies_credits['cast']=df_movies_credits['cast'].apply(convert_cast)
df_movies_credits.head(2)

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

#### Convert information from crew --> get director

In [450]:
# df_movies_credits.iloc[0]['crew']

In [451]:
temp3 =ast.literal_eval(df_movies_credits.iloc[0]['crew'])

In [452]:
list = []
for key, value in enumerate(temp3):
    if value['job'] == 'Director':
        list.append(value['name'])
list

['James Cameron']

In [453]:
def convert_director(data):
    list_director = []
    for key, value in enumerate(ast.literal_eval(data)):
        if value['job'] == 'Director':
            list_director.append(value['name'])
    return list_director
            
df_movies_credits['crew'].apply(convert_director)[0]

['James Cameron']

In [454]:
df_movies_credits['crew']=df_movies_credits['crew'].apply(convert_director)
df_movies_credits.head(2)

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

In [455]:
# Split overview to the list
df_movies_credits['overview'].str.split()

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [456]:
df_movies_credits['overview']=df_movies_credits['overview'].str.split()

In [457]:
df_movies_credits.head()

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",206647,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",49026,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...",49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

#### Get lower each words from columns

In [458]:
temp4=df_movies_credits['keywords'][0]
temp4

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [459]:
list = []
for i in temp4:
    list.append(i.replace(" ",""))
list

['cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [460]:
def replace_space(data):
    list = []
    for i in data :
        list.append(i.replace(" ",""))
    return list
replace_space(df_movies_credits['keywords'][0])

['cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [461]:
df_movies_credits['keywords'] = df_movies_credits['keywords'].apply(replace_space)
df_movies_credits['genres'] = df_movies_credits['genres'].apply(replace_space)
df_movies_credits['cast'] = df_movies_credits['cast'].apply(replace_space)
df_movies_credits['crew'] = df_movies_credits['crew'].apply(replace_space)

In [462]:
df_movies_credits.head(2)

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

#### Get lower words

In [463]:
list = []
for i in df_movies_credits['cast'][0]:
    list.append(i.lower())
list

['samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang']

In [464]:
def lowercase(data):
    list = []
    for word in data:
        list.append(word.lower())
    return list

lowercase(df_movies_credits['cast'][0])

['samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang']

In [465]:
df_movies_credits['keywords'] = df_movies_credits['keywords'].apply(lowercase)
df_movies_credits['genres'] = df_movies_credits['genres'].apply(lowercase)
df_movies_credits['cast'] = df_movies_credits['cast'].apply(lowercase)
df_movies_credits['crew'] = df_movies_credits['crew'].apply(lowercase)
df_movies_credits['overview'] = df_movies_credits['overview'].apply(lowercase)

In [466]:
df_movies_credits.head()

,genres,keywords,original_title,overview,movie_id,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[in, the, 22nd, century,, a, paraplegic, marin...",19995,"[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[captain, barbossa,, long, believed, to, be, d...",285,"[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski]
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[a, cryptic, message, from, bondâ€™s, past, send...",206647,"[danielcraig, christophwaltz, lÃ©aseydoux, ralp...",[sammendes]
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[following, the, death, of, district, attorney...",49026,"[christianbale, michaelcaine, garyoldman, anne...",[christophernolan]
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[john, carter, is, a, war-weary,, former, mili...",49529,"[taylorkitsch, lynncollins, samanthamorton, wi...",[andrewstanton]

#### Create the tag which get all features : genres, keywords, overview, cast, crew

In [467]:
df_movies_credits['tag'] = df_movies_credits['overview'] + df_movies_credits['keywords']+ df_movies_credits['genres'] + df_movies_credits['cast']  + df_movies_credits['crew']
df_movies_credits['tag'].head(3)

0    [in, the, 22nd, century,, a, paraplegic, marin...
1    [captain, barbossa,, long, believed, to, be, d...
2    [a, cryptic, message, from, bondâ€™s, past, send...
Name: tag, dtype: object

--> Join all words in tag

In [468]:
df_movies_credits['tag'].apply(lambda x : " ".join(x))[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver stephenlang jamescameron'

In [469]:
df_movies_credits['tag']=df_movies_credits['tag'].apply(lambda x : " ".join(x))
df_movies_credits.head()

,genres,keywords,original_title,overview,movie_id,cast,crew,tag
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[in, the, 22nd, century,, a, paraplegic, marin...",19995,"[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron],"in the 22nd century, a paraplegic marine is di..."
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[captain, barbossa,, long, believed, to, be, d...",285,"[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski],"captain barbossa, long believed to be dead, ha..."
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[a, cryptic, message, from, bondâ€™s, past, send...",206647,"[danielcraig, christophwaltz, lÃ©aseydoux, ralp...",[sammendes],a cryptic message from bondâ€™s past sends him o...
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[following, the, death, of, district, attorney...",49026,"[christianbale, michaelcaine, garyoldman, anne...",[christophernolan],following the death of district attorney harve...
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[john, carter, is, a, war-weary,, former, mili...",49529,"[taylorkitsch, lynncollins, samanthamorton, wi...",[andrewstanton],"john carter is a war-weary, former military ca..."

#### Filter value features --> get the final convert dataframe

In [470]:
df_movies_final = df_movies_credits[['movie_id','original_title','tag']]
df_movies_final.head()

,movie_id,original_title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

#### Determine similarity

In [471]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#Create similarity from cv and vector --> hold all character from tag and transform to number in array
cv = CountVectorizer(max_features=5000, stop_words='english')
vector = cv.fit_transform(df_movies_final['tag'])
similarity = cosine_similarity(vector)

# reduce file volume by only filter top 10 closest similarity values
top_n = 10
similarity_sparse = np.zeros_like(similarity)

for i in range(similarity.shape[0]):
    top_indices = similarity[i].argsort()[-top_n:]
    similarity_sparse[i, top_indices] = similarity[i, top_indices]
similarity = similarity_sparse
print(similarity)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [472]:
#Try to test similarity with index = 2 and get first 5 values
similarity[2][:5]

array([0., 0., 1., 0., 0.])

In [473]:
# Determine index
index = df_movies_final[df_movies_final['original_title']=='Spectre'].index[0]
index

2

In [474]:
similarity[index]

array([0., 0., 1., ..., 0., 0., 0.])

In [475]:
# Get all values which similar with index 
distances = sorted([*enumerate(similarity[index])], key=lambda x: x[1], reverse=True)
distances[:5]

[(2, 0.9999999999999999),
 (11, 0.3633610463437159),
 (1343, 0.34521548171187133),
 (29, 0.321797951467419),
 (4070, 0.28097574347450816)]

In [476]:
# test with index get from distances
df_movies_final.iloc[2]['original_title']

'Spectre'

In [477]:
# Determine all values which have similar values which the first 5 values in distances 
for i in distances[:5]:
    get = df_movies_final.iloc[i[0]]['original_title']
    print(get)

Spectre
Quantum of Solace
Never Say Never Again
Skyfall
From Russia with Love

In [478]:
# create the dynamic function for recommendation app
def recommend(title):
    index = df_movies_final[df_movies_final['original_title']==title].index[0]
    distances = sorted([*enumerate(similarity[index])], key=lambda x: x[1], reverse=True)
    for value in distances[1:6]:
        get = df_movies_final.iloc[value[0]]['original_title']
        print(get)

recommend("Avatar")

Titan A.E.
Small Soldiers
Aliens vs Predator: Requiem
Independence Day
Ender's Game

In [479]:
# from joblib import dump
# 
# list_model = {
#     'similarity' : similarity,
#     'dataframe' : df_movies_final
# }
# dump(list_model,"artifact/save_model.joblib", compress=('zlib', 3))